.latest-item {
    width: calc((100% - 144px)/3);
    max-width: 586px;
    margin-right: 16px;
}

.latest-item-img {
    width: 100%;
}

.latest-item-img img {
    width: 100%;
}

.latest-item-info {
    margin: 12px 16px 0 0;
}